{% assign members = site.data.sponsors.members %}

<div id="members">

	<h2>Member Companies</h2>

	<p>Copa member companies.</p>
	 
	<div class="container">
	
	{% for member in members %}
	{% cycle "openrow": '<div class="row top-buffer"><div class="col-md-4"></div>', '', '' %}
	{% assign logo=member.logo %}
	{% unless member.logo contains 'https://' %}{% capture logo %}/opencrypto/img/members/{{member.logo}}{% endcapture %}{% endunless %}
		{% unless member.logo %}
		        <div class="col">	
			<div class="member">
			{{ member.name }}
			</div>
			</div>
		{% else %}
		        <div class="col">	
			<div class="member">
			<a href="{{ member.website }}"><img src="{{ logo }}" width="150" alt="{{ member.name }}" title="{{ member.name }}"></a>
			</div>
			</div>
		{% endunless %}

	{% cycle "closerow": '', '', '</div>' %}
	{% endfor %}
	</div>
</div>
